.Right{
    float: right;
    font-weight: bold;
}

.Left{
    float: left;
    font-weight: bold;
}

h3{
    text-align: left;
    font-weight: bold;

}

hr{
    height: 2px;
    border-width: 0;
    color:black;
}
<hr style="height:2px;border-width:0;color:gray;background-color:gray">