.Right{
    float: right;
    font-weight: bold;
}

.Left{
    float: left;
    font-weight: bold;
}

h3{
    text-align: left;
    font-weight: bold;

}

hr {
    height: 0;
    border: none;
    border-bottom: 1px solid #c1c1c1;
    margin-bottom: 1.5em;
    background: none;
  }