body {
    border: 2px solid black;
    padding: 25px;
    background-image: url("images/Ashesi_Admissions_Banner_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    background-color: #cccccc;
   }

html {
    font: 1em sans-serif; 
   }


.form {
    background-color: var(--content-bg);
    color: var(--content-text);
    width: 80%;
    border: 5px solid rgb(192, 155, 116);
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-flow: column wrap;
    justify-content: left;
   }



  