body {
    border: 2px solid black;
    padding: 25px;
    background-image: url("images/Ashesi_Admissions_Banner_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    background-color: #cccccc;
   }


.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 70%;
    overflow: hidden;
    margin-top: 1px;
}

html {
    font: 1em sans-serif; 
   }


.form {
    background-color: var(--content-bg);
    color: var(--content-text);
    width: 50%;
    border: 10px solid  green;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
   }



  