body {
    border: 2px solid green;
    padding: 50px;
    background-position: center;
    background-image: url("images/Ashesi_Admissions_Banner_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    
   }


.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 70%;
    overflow: hidden;
    margin-top: 1px;
}

html {
    font: 1em sans-serif; 
   }


.form {
    padding: 40px;
    background-color: burlywood;
    font-family: Verdana;
    margin: auto;
    margin-top: 5%;
    max-width: 500px;
    max-height: 900px;
    border: 5px solid black;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
   }

.right{
    border: 5px solid red;
    color: crimson;
    float:right;
    font-size: xx-large;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;

}

.form .field label{
    color: black;
    margin-left: 10px;
    font: 20px bold;

}

.form .field input{
    color: black;
    float: right;
    font-size: 20px bold;
    width: 200px;

}